<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="stylesheet" href="..\static\node_modules\bulma-switch\dist\css\bulma-switch.min.css">
<link rel="stylesheet" href="..\static\node_modules\@creativebulma\bulma-divider\dist\bulma-divider.min.css">
<link href='https://css.gg/remove-r.css' rel='stylesheet'>
<link href='https://css.gg/add-r.css' rel='stylesheet'>
<link href='https://css.gg/arrow-long-up-r.css' rel='stylesheet'>
<link href='https://css.gg/arrow-long-down-c.css' rel='stylesheet'>
<style>
  .table_height{
    height:500px;
    overflow:auto;
  }

  .field{
    padding:10px;
  }
  .table tr td {
      height:1.5em;
  }
</style>
</head>
{% block content %}{% endblock %}
-webkit-font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-size-adjust: 100%;
font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 1em;
font-weight: 400;
line-height: 1.5;
border-collapse: collapse;
border-spacing: 0;
color: #363636;
box-sizing: inherit;
